.room-list-item {
    padding: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    background-color: darkcyan;
    margin: 0 0 5px 0;
}

.room-list-item-content {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  margin: 5px;
}