.chat-room {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin-right: 10px;
  margin-bottom: 0;
  background-color: darkcyan;
  box-sizing: border-box;
  height: 100%;
}

.chat-room-header {
  padding: 10px;
  margin: inherit;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  color: whitesmoke;
  box-shadow: inset;
  border-top-right-radius: 5px;
}

.chat-room-header img {
  border-radius: 50%;
  max-height: 40px;
}

.chat-room-header p {
  margin-left: 15px;
  font-size: 20px;
}