.App {
  text-align: center;
  overflow: auto;
  padding-bottom: 20px;
}

.list {
  width: 50%;
  padding: 0;
  overflow: auto;
}
.list h1 {
  color: "#ddd";
  text-align: left;
  margin-left: 20px;
}

.list ul>li {
  display: block;
  cursor: pointer;
  padding: 5px;
  border: 1px solid #880E4f;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  margin: 10px;
  color: #880E4f;
}

.opening-list {
  width: 100%;
  display: flex;

}

#message-list {
  display: block;
  padding: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
}
#message-list li {
  text-align: left;
  padding:0;
  margin: 5px 0 0 0;
  color: black;
  border: 1px solid black;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3)
}
#message-list div {
  margin: 10px 0 0 10px;
}

.message-input input{
  width: 75%;
  height: 30px;
  margin:0;
  justify-content: center;
}
.message-input div{
  cursor: pointer;
  display: inline-block;
  justify-content: center;
  text-align: right;
  width: 20%;
  margin: 0;
  height: 30px;
  border: 1px solid black;
}